manifest {
    author = 'Angel Angelov'
    name = 'nextflow-bcl'
    description = 'InterOp - bcl2fastq pipeline'
    homePage = ''
    nextflowVersion = '>=20.01.0'
}

process.container = 'interop-bcl'
docker.enabled = true

tower {
  accessToken = '1bb4fe59274f773ec31311f28060430566018afc'
  enabled = false
}

profiles {
	test {
			params.runfolder = 's3://illumina-bcl/testdata'
	}
}