manifest {
    author = 'Angel Angelov'
    name = 'nextflow-bcl'
    description = 'InterOp - bcl2fastq pipeline'
    homePage = ''
    nextflowVersion = '>=20.01.0'
}

process.container = 'aangeloo/interop-bcl:latest'
docker.enabled = true


profiles {
	test {
			params.runfolder = 's3://illumina-bcl/testdata'
	}
}