manifest {
    author = 'Angel Angelov, aangeloo@gmail.com'
    name = 'nextflow-bcl'
    description = 'InterOp - bcl2fastq pipeline'
    homePage = ''
    nextflowVersion = '>=20.01.0'
}

process.container = 'aangeloo/interop-bcl:latest'
docker.enabled = true

report {
    enabled = true
    file = "${params.outdir}/nextflow-run-report.html"
}


profiles {
	test {
			params.runfolder = 's3://illumina-bcl/testdata'
	}
}